.card {
  background-color: $color--card__bkg;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  padding: 2em;

  @include breakpoint(mobile-horizontal) {
    max-width: 30em;
  };

  &__action-panel {
    display: flex;

    @include breakpoint(tablet) {
      display: inline-block;
    }

    li {
      flex: 1;

      @include breakpoint(tablet) {
        display: inline-block;
        flex: none;
      }
    }
  }

  &__vocab-word {
    color: $color--card__vocab-word;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}
