/* base colors */
$color--purple: #3a3042;             /* purple */
$color--pink: #e75a7c;               /* pinkish */

/* accent colors */
$color--gray-green: #f2f5ea;         /* gray green */
$color--dark-gray-green: #d6dbd2;    /* dark gray green */
$color--light-gray: #fcfcfc;

/* base vars */
$color--primary: $color--purple;
$color--secondary: $color--pink;

$color--body__bkg: $color--purple;

$color--card__bkg: $color--light-gray;
$color--card__vocab-word: lighten($color--purple, 15%);
